
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 自金融 -->
  <ion-tab title="首页" icon-off="icon-index-off" icon-on="icon-index-on"
           href="#/tab/zjr" class="iconIndex">
    <ion-nav-view name="tab-zjr"></ion-nav-view>
  </ion-tab>
  <!-- 失信公示 -->
  <ion-tab title="失信公示" icon-off="icon-black-off" icon-on="icon-black-on"
           href="#/tab/black" class="iconIndex">
    <ion-nav-view name="tab-black"></ion-nav-view>
  </ion-tab>
  <!-- 我要借钱 -->
  <ion-tab title="我要借钱" icon-off="icon-add-on" icon-on="icon-add-on"
           href="{{produceUrl}}" class="iconAdd">
    <ion-nav-view ng-if="produceTab=='tab-addProduce'" name="tab-addProduce"></ion-nav-view>
    <ion-nav-view ng-if="produceTab=='tab-addXsd'" name="tab-addXsd"></ion-nav-view>
  </ion-tab>
  <!-- 信用管理 -->
  <ion-tab title="信用管理" icon-off="icon-credit-off" icon-on="icon-credit-on"
           href="#/tab/credit" class="iconIndex">
    <ion-nav-view name="tab-credit"></ion-nav-view>
  </ion-tab>
  <!-- 我的 -->
  <ion-tab title="我的" icon-off="icon-my-off" icon-on="icon-my-on"
           href="#/tab/my" class="iconIndex">
    <ion-nav-view name="tab-my"></ion-nav-view>
  </ion-tab>


  <!--&lt;!&ndash; 主页 ion-ios-home是ionic提供的icon&ndash;&gt;-->
  <!--<ion-tab title="主页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">-->
    <!--<ion-nav-view name="tab-home"></ion-nav-view>-->
  <!--</ion-tab>-->
  <!--&lt;!&ndash; 商品分类页面 &ndash;&gt;-->
  <!--<ion-tab title="分类" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/category">-->
    <!--<ion-nav-view name="tab-category"></ion-nav-view>-->
  <!--</ion-tab>-->
  <!--&lt;!&ndash; 购物车页面 &ndash;&gt;-->
  <!--<ion-tab title="购物车" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/cart">-->
    <!--<ion-nav-view name="tab-cart"></ion-nav-view>-->
  <!--</ion-tab>-->
  <!--&lt;!&ndash; 账户页面 &ndash;&gt;-->
  <!--<ion-tab title="我的" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">-->
    <!--<ion-nav-view name="tab-account"></ion-nav-view>-->
  <!--</ion-tab>-->


  <!--&lt;!&ndash; Dashboard Tab &ndash;&gt;-->
  <!--<ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">-->
    <!--<ion-nav-view name="tab-dash"></ion-nav-view>-->
  <!--</ion-tab>-->
  <!--&lt;!&ndash; Chats Tab &ndash;&gt;-->
  <!--<ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">-->
    <!--<ion-nav-view name="tab-chats"></ion-nav-view>-->
  <!--</ion-tab>-->
  <!--&lt;!&ndash; Account Tab &ndash;&gt;-->
  <!--<ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">-->
    <!--<ion-nav-view name="tab-account"></ion-nav-view>-->
  <!--</ion-tab>-->

</ion-tabs>
